* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: gray;
}

form,
label,
main {
  display: grid;
  gap: 1rem;
  color: rgb(54, 206, 84);
  border-radius: 1rem;
}

#root {
  width: 45ch;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  color: rgb(0, 0, 0);
}

header nav {
  display: flex;
  gap: 1ch;
}

a {
  color: rgb(3, 3, 3);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: aqua;
}

ul,
ol {
  padding-left: 1rem;
  list-style: none;
}

p[role="alert"] {
  color: red;
  background-color: rgb(195, 191, 191);
  border-radius: 5rem;
  text-align: center;
}

button {
  color: chartreuse;
  background-color: blueviolet;
}
